<ion-view title="Anmäl Kill">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h1>Din kod</h1>
            <div class="Code">
                <h2>{{userdata.codeid}}</h2>
            </div>
            <h1>Anmäl Kill</h1>
            <label class="item item-input" name="codeOwn">
                <span class="input-label">Offrets Kod</span>
                <input type="text" placeholder="57B234F" ng-model="code.input">
            </label>
        </form>
        <button ng-click="killTarget(code.input);" class="button button-assertive button-block ">Anmäl Kill</button>
    </ion-content>
</ion-view>