<ion-view title="Anmäl Kill">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h1>Din kod</h1>
            <img src="/img/black-windows_542931.jpg" width="100%" height="10%" style="width: 100%; height: 10%;">
            <h1>Anmäl Kill</h1>
            <label class="item item-input" name="codeOwn">
                <span class="input-label">Offrets Kod</span>
                <input type="text" placeholder="57B234F">
            </label>
        </form>
        <button class="button button-assertive button-block ">Anmäl Kill</button>
    </ion-content>
</ion-view>